
@{
    ViewBag.Title = "Adicionar Imagens";
}

<div ng-controller="ImagemProdutoController">
    <div class="row">
        <div class="col-sm-8">
            <h3>Produto: {{produto.Nome}}</h3>
        </div>

        <div class="col-sm-4 text-right">
            <br />
            <label class="custom-file-upload">
                <i class="fa fa-upload" aria-hidden="true"></i>
                <input type="file" id="imagemProduto" />
                Selecionar
            </label>
            <button type="button" class="btn btn-info" ng-click="uploadImagem(produto)">Salvar</button>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-sm-3" ng-repeat="imagem in imagens">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <img src="~/Upload/Produto/{{imagem.Imagem}}" class="img-produto"/>
                </div>
                <div class="panel-footer text-center">
                    <div class="btn-group">
                        @*<button type="button" class="btn btn-primary">Marcar como principal</button>*@
                        <button type="button" class="btn btn-danger btn-sm" ng-click="excluirImagem(imagem)">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

